:80 {
    root * /opt/spotify_tracker/frontend/dist
    encode gzip zstd

    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle /media/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
