APP_NAME=Spotify Tracker API
API_PREFIX=/api
DATA_DIR=/opt/spotify_tracker/data
DATABASE_URL=sqlite:////opt/spotify_tracker/data/spotify_tracker.sqlite
MEDIA_DIR=/opt/spotify_tracker/data/media
FRONTEND_ORIGIN=http://spotify-tracker.local

LASTFM_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://spotify-tracker.local/api/auth/google/callback

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://spotify-tracker.local/api/spotify/callback
